

.navbar {

    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 28px;
    border-end-start-radius: 15px;
    background-color: var(--primary-color);
    border: none;
    flex-grow: 1;
    width: 100%;
}

.nav-element {

    color: var(--color-white);
    font-size: 20px;
}

.nav-header {

    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


.side-bar {

    min-width: 250px;
    height: 75vh;
    margin-top: 1rem; 
   box-shadow: 10px 1px 20px #888888;
}

.side-bar .filling {

    margin-top: 2.5rem;
}

.side-bar-container, .side-bar-container-2 {

    display: flex;
    padding: 16px;
    justify-content: space-evenly;
    cursor: pointer;
}

.side-bar-container-2 {
    flex-direction: column;
    align-items: center;


}

.sidebar2-align {

    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.side-bar p {

    font-weight: bold;
}

.side-bar button, .create-post button {

    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    color: var(--color-white);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.create-post button {

    width: 70px;
    align-self: flex-end;
}

.side-bar-container-2 img, .create-post img {

    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.create-post-elements {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-post {
    height: 20vh;
    margin-bottom: 2rem;
    box-shadow: -3px 1px 10px #888888;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

.create-post p {

    margin-right: 7rem;
    margin-top: 0.6rem;
    font-weight: bold;
}


.main-container {

    display: flex;
    justify-content: space-between;
    
}

.search-user {

    padding: 0.5rem;
}

.suggested-users {

    text-decoration: underline;
}

.sorting-container {

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 1px 3px 5px #888888;
    border-radius: 0.2rem;
}

.sorting-container p {

    cursor: pointer;
    font-weight: bold;
    
}

